### Eclipse ###
.classpath
.project
.settings

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Coco/R files ###
Coco.jar
*.frame

### Binaries ###
/bin/
/parse.txt
/tabla de simbolos.txt
/lista de tokens.txt
/src/META-INF/
/out/
